
@import url('https://fonts.googleapis.com/css2?family=Roboto Condensed:wght@100;400;900&display=swap');

@keyframes spin{
    from{transform: translate(var(--tx), var(--ty)) scale(var(--scale)) rotate(0deg);}
    to{transform: translate(var(--tx), var(--ty)) scale(var(--scale)) rotate(360deg);}
}

*{
    font-family: Roboto Condensed; 
    font-weight: 400; 
    color: white;
    margin: 0;
    text-wrap-mode: nowrap;
    box-sizing: border-box;
}

body{
    height: 100dvh;
}
p{
    text-wrap-mode: wrap;
    font-size: 20px;
    display: inline;
}
span{
    text-wrap-mode: wrap;
    display: inline;
}
li{
    text-wrap-mode: wrap;
    text-align: left;
    font-size: 20px;
}
h1{
    text-align: center;
    font-size: 60px;
    word-wrap: break-word;
}
h2{
    text-align: center;
    font-size: 40px;
    word-wrap: break-word;
}
h3{
    text-align: center;
    font-size: 20px;
    word-wrap: break-word;
}

a{
    text-align: center;
}
a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}
a:active {
    text-decoration: none;
}


.big-link{
    text-align: center;
    font-size: 60px;
    user-select: none;
}
.big-link:link {
    text-decoration: none;
}

.big-link:visited {
    text-decoration: none;
}

.big-link:hover {
    color: #ff0000;
    text-decoration: none;
    cursor: pointer;
}
.big-link:active {
    text-decoration: none;
}

.medium-link{
    text-align: center;
    font-size: 40px;
    user-select: none;
}
.medium-link:link {
    text-decoration: none;
}

.medium-link:visited {
    text-decoration: none;
}

.medium-link:hover {
    color: #ff0000;
    text-decoration: none;
    cursor: pointer;
}
.medium-link:active {
    text-decoration: none;
}


.small-link{
    text-align: center;
    font-size: 20px;
    user-select: none;
    color: #A40000;
}
.small-link:link {
    text-decoration: none;
}

.small-link:visited {
    text-decoration: none;
}

.small-link:hover {
    color: #ff0000;
    text-decoration: none;
    cursor: pointer;
}
.small-link:active {
    text-decoration: none;
}
.small-link * {
  color: inherit;
}

.emphasis{
    font-weight: 900;
    color: #ffaaaa;
    text-shadow: 0 0 10px #A40000;
}


#Contacts{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-auto-rows: max-content;
    width: fit-content;
}
.Contact{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 10px 10px;
    
    border-radius: 10px;
}
.Contact:hover{
    background-color: #A4000050;
    cursor: pointer;
}
.ContactName{
    margin: 0 10px;
}
.highlight{
    color: #A40000;
}
.highlight:hover{
    color: #ff0000;
    cursor: pointer;
}

.button{
    color: #ffffff;
    border-radius: 10px;
}
.button:hover{
    color: #ff0000;
    border-color: #ff0000;
    background-color: #A4000050;
    cursor: pointer;
    user-select: none;
}

.inline{
    display: inline-flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.stretch
{
    display: flex;
    justify-content: center;
    width: 100%;
    align-items: center;
}
.graphics-container-fullscreen{
    display: block;
    position: absolute;
    overflow:hidden;
    pointer-events: none;
    width: 100%;
    height: 100%;
}
.graphics-container{
    display: block;
    position: absolute;
    overflow:hidden;
    pointer-events: none;
}
.graphics{

    display: block;
    position: fixed;
    overflow:auto;
}

#parallax1{
    filter: brightness(0.5);
     width: 600px;
}
#parallax2{
    
    filter: brightness(0.3);
     width: 300px;
}

.image-wrapper{
    align-content: center;
    align-items: center;
    justify-content: center;
    display: flex;
}
.image-wrapper>img{
    object-fit: contain;
    box-sizing: border-box;
    align-self: center;
    max-width: 100%;
    justify-self: center;
}
.comment{
    font-style: italic;
    color: #aaaaaa;
    text-wrap-mode: wrap;
}
.date{
    color: #ffffff;
    font-weight: 100;
    text-shadow: 0 0 10px #ffaaaa, 0 0 5px #ffaaaa;
}
.outline{
    border: 5px #a40000 solid;
    border-radius: 10px;
}
.align-down{
    align-items: end;
}
.background{
    width: 100%; 
    height: 100%; 
    position: fixed;
    top: 0;
    left: 0;
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.8)), url(../images/main_background.png) no-repeat center center/cover;
    z-index: -10;
}
.back{
    position: fixed;
    display: block;
    right: 0;
    font-size: 30px;
    margin: 20px;
    padding: 10px;
    z-index: 1;
}


/* mobile */
@media (max-width: 768px) {
    li{
        text-wrap-mode: wrap;
        text-align: left;
        font-size: 15px;
    }
    h1{
        text-align: center;
        font-size: 30px;
        word-wrap: break-word;
    }
    h2{
        text-align: center;
        font-size: 20px;
        word-wrap: break-word;
    }
    h3{
        text-align: center;
        font-size: 10px;
        word-wrap: break-word;
    }
    p{
        text-wrap-mode: wrap;
        font-size: 15px;
        display: inline;
    }
    .big-link{
        text-align: center;
        font-size: 30px;
        user-select: none;
    }
    .medium-link{
        text-align: center;
        font-size: 20px;
        user-select: none;
    }
    .small-link{
        text-align: center;
        font-size: 10px;
        user-select: none;
    }
    .main-container{
        display: flex;
        
        margin: 0;
        width: 100%;
        justify-content: flex-start;
        flex-direction: column;
    }
    .skills-container{
        flex-wrap: wrap; 
        width: 80%; 
        align-items: center; 
        margin-inline: auto; 
        padding-block: 50px;
        display: flex;
        justify-content: flex-start;
        flex-direction: row;
    }
    .flex-area{
        display: flex;
        flex-direction: column;
        flex: 1; /* Equal width for both boxes */
        text-align: center;
        align-items: center;
        margin-block: 30px;
        max-width: 100%;
    }
    .menu{
        justify-content: center;
        display: flex; 
        flex-direction: column; 
        align-items: center; 
        max-width: calc(100% - 40px); 
        padding-inline: 20px;
    }
    .loopingImg{
        width: 100px;
        left: 0; right: 0;
        padding: 0;
        margin-inline: auto;
        background-image: url(/images/chain.png);
        background-repeat: repeat-y;
        background-size: 100px auto;
        position: absolute;
        display: flex;
        flex-direction: column;
    }
    .chainGlow{
        display: none;
    }
    
    .main-journey{
        display: flex; 
        flex-direction: column; 
        margin-inline: 10% 10%;
    }
    .project{
        left:15%;
        height: 900px;
        margin: 0 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .description
    {
        display: flex;
        margin: 20px 0;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
        max-height: 100%;
    }
    .description>*{
        flex:1 1 18rem;
    }
    .description>p,.description>div{
        align-content: center;
        text-align: justify;
    }
    .projImg{
        flex: 2 1 18rem;
        width: 100%;
        flex-shrink: 2;
        max-height: 600px;
        align-content: center;
        align-items: center;
        justify-content: center;
        display: flex;
    }
    .projImg>img,video{
        object-fit: contain;
        box-sizing: border-box;
        align-self: center;
        max-width: 100%;
        max-height: 100%;
        justify-self: center;
    }
    .pc-only{
        display: none;
    }

    #main-wheel{
        width: 50%;
    }
    #bright-wheel{
        width: 40%;
    }
}

/* pc */
@media (min-width: 768px) {
    .main-container{
        display: flex;
        overflow: hidden;
        margin: 0;
        height: 100vh;
        justify-content: flex-start;
        flex-direction: row;
    }
    
    .skills-container{
        flex-wrap: wrap; 
        width: 80%; 
        align-items: center; 
        margin-inline: auto; 
        padding-block: 50px;
        height: calc(100vh - 100px);
        display: flex;
        justify-content: flex-start;
        flex-direction: row;
    }
    .wide-tab{
        flex: 1 0 100%;
    }
    .flex-area{
        display: flex;
        flex-direction: column;
        flex: 1; /* Equal width for both boxes */
        text-align: center;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        overflow-x: hidden;
    }
    .menu{
        display: flex; 
        flex-direction: column; 
        align-items: center; 
        max-width: calc(100% - 40px); 
        padding-inline: 20px;
    }
    .loopingImg{
        width: 100px;
        left: 10%;
        height: 100%;
        padding: 0;
        background-image: url(/images/chain.png);
        background-repeat: repeat-y;
        background-size: 100px auto;
        position: absolute;

        display: flex;
        flex-direction: column;
    }
    .chainGlow{
        margin: 300% 0;
    }
    .main-journey{
        display: flex; 
        flex-direction: column; 
        margin-inline: 20% 10%;
    }
    .project{
        left:15%;
        height: 600px;
        margin: 150px 0;
        display: flex;
        flex-direction: column;
    }
    .description
    {
        display: flex; 
        flex-grow: 1; 
        margin: 20px 0;
        flex-direction: row;
        gap: 20px;
        max-height: 100%;
    }
    .description>*{
        flex:1 1 18rem;
    }
    .description>p,.description>div{
        padding: 12px;
        align-content: center;
        text-align: justify;
    }
    .projImg{
        flex: 2 1 18rem;
        height: 100%;
        max-width: 66%;
        max-height: 600px;
        align-content: center;
        align-items: center;
        justify-content: center;
        display: flex;
    }
    .projImg>img,.projImg>video{
        object-fit: contain;
        box-sizing: border-box;
        align-self: center;
        max-width: 100%;
        justify-self: center;
    }
    .mobile-only{
        display: none;
    }
}