
@import url('https://fonts.googleapis.com/css2?family=Roboto Condensed:wght@400;900&display=swap');
@keyframes spin {
    from {
        transform: rotate3d(0, 0, 1, 0deg);
    }
    to {
        transform: rotate3d(0, 0, 1, 360deg);
    }
}
@property --gradient {
    syntax: '<color>';
    initial-value: #00000000;
    inherits: false;
  }


  
h1{
    margin: auto;
    text-align: center; 
    color: white; 
    font-size: 60px; 
    font-family: Roboto Condensed; 
    font-weight: 400; 
    word-wrap: break-word;
}
h2{
    margin: auto;
    text-align: center;
    color: white;
    font-size: 40px;
    font-family: Roboto Condensed;
    font-weight: 400;
    word-wrap: break-word;
}
h3{
    margin: auto;
    color: white; 
    font-size: 30px; 
    font-family: Roboto Condensed; 
    font-weight: 400; 
}

h4{
    margin: auto;
    color: white; 
    font-size: 15px; 
    font-family: Roboto Condensed; 
    font-weight: 400; 
}

a{
    align-self: stretch;
    width: 100%;
    justify-content: space-around;
    align-items: flex-start;
    display: inline-flex;
}
a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}

body{
    margin: 0;
    border: 0;
}


.Main{
    width: 100vw; 
    height: 100vh; 
    position: fixed;
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.8)), url(../images/main_background.png);
}
.Photo{
    width: 150px; 
    height: 150px; 
    left: 87px; 
    top: 196px; 
    position: absolute; 
    background: #D9D9D9; 
    border-radius: 9999px;
}

.WhatBringsYouHere{
    text-align: center; 
    word-wrap: break-word;
}
.SwitchButton{
    justify-content: center; 
    align-items: center; 
    gap: 10px; 
    display: flex;
}
.Traveler{
    text-align: center; 
    color: #A40000; 
    font-size: 29px; 
    font-family: Roboto Condensed; 
    font-weight: 400;
    word-wrap: break-word;
}
.HiIAmIvan{
    left: 100px; 
    top: 350px; 
    position: absolute; 
}
.AtLeastInThisRealm{
    
    left: 250px;
    top: 450px;
    position: absolute;
}
.Info{
    position: relative; 
    justify-content: flex-start; 
    align-items: flex-start; 
    gap: 6px; 
    display: inline-flex;
}
.Nav{
    padding: 10px;
    right: calc(50vw - 500px);
    top: 100px;
    position: absolute;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 70px;
    display: inline-flex;
}
.Tab{
    padding: 10px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    display: inline-flex;
    border: 5px transparent solid;
    border-image: linear-gradient(90deg, #00000000, var(--gradient), #00000000) 1;
    transition: --gradient 0.3s;
}
.Tab:hover{
  --gradient: red;
  cursor: pointer;
}
.TabWrapper{
    justify-content: center;
    align-items: center;
    display:flex;
    flex-direction: column;
}
.TabText{
    text-align: center;
}
.Contact{
    align-self: stretch;
    width: 200px;
    padding: 10px;
    justify-content: space-around;
    align-items: flex-start;
    display: inline-flex;
    border-radius: 10px;
}

.Contact:hover{
    background-color: #A4000050;
    cursor: pointer;
}

#Contacts{
    position: absolute;
    justify-content: center;
    align-items: center;
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 500px;
    bottom: -150px;
}
.ContactName{
    
    justify-content: flex-start;
    align-items: flex-start;
    gap: 10px;
    display: flex;
}
.Ring{
    position: absolute;
    scale: 150%}
#Ring1{
    top:-130px;
    left:-230px;
    animation: spin 15s reverse infinite;
    transform-origin: 50% 51%;
}

#Ring2{
    top:-30px;
    left:-130px;
    animation: spin 10s linear infinite;
    transform-origin: 50% 49%;
}

#Ring3{
    top:70px;
    left:-30px;
    animation: spin 5s ease-in-out infinite;
    transform-origin: 51% 50%;
}
.MainScrollArea{
    
    height: 720px;
    left: 85px;
    top: 0px;
    position: absolute;
    justify-content: flex-start;
    align-items: flex-start;
    display: inline-flex;
}
.JourneyContent{
    height: 2300px;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 10px;
    display: flex;
}

.MainChain{
    width: 100px; 
    height: 100%;
    background-image: url(/images/chain.png);
    background-repeat: repeat-y;
    background-size: 100px;
    flex-shrink: 0;
}
.ChainGlowArea{
    left: 0.33px;
    top: 300px;
    position: absolute;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 300px;
    display: inline-flex;
}
.ChainGlow{
    width: 100px;
    height: 300px;
    transform-origin: 0 0;
}
.Projects{
    width: auto;
    margin-right: 200px;
    padding-top: 200px;
    padding-bottom: 300px;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    display: inline-flex;
    gap: 100px;
}
.Proj {
    padding: 10px;
    background: rgba(255, 255, 255, 0);
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 10px;
    display: flex;
    height: 500px;
}
.Desc{
    width: auto;
}
.Showcase{
    width: 100%;
    align-items: flex-start;
    height: auto;
    gap: 10px;
    display: inline-flex;
    flex-direction: row;
}

.ProjectContent{
    flex-grow: 1;
    width: 60%;
    min-width: 510px;
    border-radius: 15px;
    overflow: hidden;
    border: 5px #a40000 solid;
    display: block;
}
.Image{
    object-fit: cover;
    border-radius: 15px;
    height: auto;
    width: 100%;
    min-width: 500px;
}
.Tasks{
    flex-grow: 1;
    width: 30%;
    min-width: 100px;
    padding-top: 10px;
    padding-bottom: 10px;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 15px;
    display: inline-flex;
}
.Justification{
    width: 100%;
    height: auto;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    display: flex;
}
.Challenge{
    max-height: 70px;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    display: flex;
}
.Tasks>.Challenge{
    width: 100%;
}
.ChallengeContent{
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    display: flex;
}
.ChallengeDesc{
    position: relative;
    right: 0;
    text-align: center;
    color: white;
    font-size: 15px;
    font-family: Roboto Condensed;
    font-weight: 400;
    word-wrap: break-word;
    justify-content: center;
}
.ChallengeBar{
    width: 100%;
    height: 20px;
    align-self: stretch;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    display: flex;
}
.BarName{
    
    text-align: center;
    color: #ffe70d;
    font-size: 12px;
    font-family: Roboto Condensed;
    font-weight: 400;
    word-wrap: break-word;
}
.Bar{
    height: 20%;
    position: relative;
    background: linear-gradient(
      180deg,
      #ffe70d 0%,
      rgba(255, 230.77, 12.75, 0.5) 100%
    );
    border-radius: 2px;
}

.Remark{
    align-self: stretch;
    text-align: center;
    color: #d9d9d9;
    font-size: 16px;
    font-family: Roboto Condensed;
    font-style: italic;
    font-weight: 400;
    word-wrap: break-word;
}
#easy>.Bar{
    width: 25%;
    background: linear-gradient(
      180deg,
      #5aff0d 0%,
      rgba(90.27, 255, 12.75, 0.5) 100%
    );
}
#medium>.Bar{
    width: 50%;
    background: linear-gradient(
      180deg,
      #ffe70d 0%,
      rgba(255, 230.77, 12.75, 0.5) 100%
    );
}
#hard>.Bar{
    width: 75%;
    background: linear-gradient(
      180deg,
      #FF810D 0%,
      #ff820d7e 100%
    );
}

#extreme>.Bar{
    width: 100%;
    background: linear-gradient(
      180deg,
      #FF0D0D 0%,
      #ff0d0d77 100%
    );
}
#easy>.BarName{
    color: #5aff0d;
}
#medium>.BarName{
    color: #ffe70d;
}
#hard>.BarName{
    color: #FF810D;
}
#extreme>.BarName{
    color: #FF0D0D;
}

.Back{
    position: fixed;
    padding: 10px;
    right: 20px;
    top: 10px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    display: inline-flex;
    border: 5px transparent solid;
    border-image: linear-gradient(90deg, #00000000, var(--gradient), #00000000) 1;
    transition: --gradient 0.3s;
}

.Back:hover{
    --gradient: red;
}
.Title{
    top: 50px;
    margin-left: 200px;
    margin-right: 200px;
    position: absolute;
}
.MySkills{
    top: 50px;
    position: absolute;
    left: 0; 
    right: 0; 
    margin-left: auto; 
    margin-right: auto; 
    justify-content: center;
    align-items: center;
    gap: 10px;
    display: inline-flex;
}
.SkillsDesc{
    position: absolute;
    left: 0; 
    right: 0; 
    margin-left: auto; 
    margin-right: auto; 
    top:200px;
    text-align: center;
}
.SkillSectionsContainer{
    margin-left: 20px;
    margin-right: 20px;
    width: auto;
    top: 500px;
    position: relative;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 10px;
    display: inline-flex;
    flex-wrap: wrap;
}
.SkillSection{
    flex: 1 1 0;
    align-self: stretch;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 10px;
    overflow: hidden;
    border: 5px #820000 solid;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    display: inline-flex;
    min-width: 400px;
    width: auto;
}
.SkillSectionName{
    width: 100%;
    text-align: center;
    color: white;
    font-size: 24px;
    font-family: Roboto Condensed;
    font-weight: 400;
    word-wrap: break-word;
}
.Skill{
    width: 100%;
    justify-content: space-around;
    align-items: flex-start;
    display: inline-flex;
}
.SkillName{
    margin: 0;
    text-align: center;
    width: 20%;
    font-size: 20px;
}
.SkillTime{
    
    text-align: center;
    width: 40%;
    font-size: 20px;
}
.SkillLevel{
    margin-left: 20px;
    width: 30%;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    display: inline-flex;
}
.SkillBarContainer{
    width: 100%;
    height: 23px;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    display: flex;
}
.BarDesc{
    
    text-align: center;
    color: white;
    font-size: 15px;
    font-family: Roboto Condensed;
    font-weight: 400;
    word-wrap: break-word;
}


          